@media screen and (min-width: 800px) {
    .konten{
        width:20%;
        margin-right: 1%;
        background-color: whitesmoke ;
        height: 400px;
    }
    .text-nama{
        font-size: 1.5rem;
    }
    .text{
        font-size: 1rem;
    }
    .gambar{
        width: 100%;
        height: 25vh;
    }
    .div{
        width: 30%;
    }
    .keranjang .text, .brand span{
        font-size:1.5vmax;
    }
    .keranjang img, .brand img{
        width:3vmax;
    }
    .pesanan-detail{
        width:65%;
    }
    .pesanan{
        width: 35%;
    }
    .data-pesanan{
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .konten{
        margin: auto;
        width: 90%;
        background-color: snow ;
        margin-top: 1%;
    }
    .text-nama{
        font-size: 24px;
    }
    .text{
        font-size: 14px;
    }
    .gambar{
        width: 250px;
        height: 200px;
    }
    .div{
        margin-top: 5%;
        width: 90%;
    }
    .keranjang,.brand{
        padding: 0%;
        background-color: transparent;
    }
    .keranjang .text, .brand span{
        font-size: 0;
    }
    .keranjang img, .brand img{
        width: 40px;
    }
    .pesanan{
        width: 90%;
    }
    .data-pesanan{
        width: 100%;
    }
    .tbl-keranjang{
        opacity: 0;
    }
}