body{
    /* background-color: hotpink; */
    background-image: url("http://http://aisps-store.epizy.com/assets/img/bg-2.jpg");
    background-size: cover;
}

@media screen and (min-width: 800px) {
    .konten{
        width:25%;
        background-color: whitesmoke ;
        height: 425px;
    }
    .habis{
        position: absolute;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        background-color: grey;
    }
    .konten-habis{
        opacity: 0.9;
    }
    .text-nama{
        font-size: 1.5rem;
    }
    .text{
        font-size: 1rem;
    }
    .gambar{
        width: 100%;
        height: 25vh;
    }
    .div{
        width: 30%;
    }
    .keranjang, .brand{
        width:15vmax;
    }
    .keranjang .text, .brand span{
        font-size:1.5vmax;
    }
    .keranjang img, .brand img{
        width:3vmax;
    }
    .pesanan-detail{
        width:65%;
    }
    .pesanan{
        width: 35%;
    }
    .data-pesanan{
        width: 100%;
    }
    .tbl-keranjang-mobile{
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .konten{
        margin: auto;
        width: 90%;
        background-color: snow ;
        margin-top: 1%;
    }
    .habis{
        position: absolute;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        background-color: grey;
    }
    .konten-habis{
        opacity: 0.9;
    }
    .text-nama{
        font-size: 24px;
    }
    .text{
        font-size: 14px;
    }
    .gambar{
        width: 250px;
        height: 200px;
    }
    .div{
        margin-top: 5%;
        width: 90%;
    }
    .keranjang,.brand{
        padding: 0%;
        width: 50px;
        background-color: transparent;
    }
    .keranjang .text, .brand span{
        font-size: 0;
    }
    .keranjang img, .brand img{
        width: 40px;
    }
    .pesanan{
        width: 90%;
    }
    .data-pesanan{
        width: 100%;
    }
    .tbl-keranjang-desktop{
        display: none;
    }
}